
.clients{
    text-align: center;
    margin:0 auto;
    justify-content: center;
    max-height:70vh;
    max-width:100%;
    position: relative;
    justify-content: space-between;
    background-color:#001c44;
}
img{
    display:flex;
}
Col{
    box-shadow: 10px 10px 10px 10px #001c44;
}
img:hover{ 
    transform:scale(1.2);
}
